{{define "player"}}
{{template "Header"}}
<body>
	{{if .NowPlaying}}{{.NowPlaying}}{{end}}
	<ul>
		<li><a href="/player/play">Play</a></li>
		<li><a href="/player/pause">Pause</a></li>
		<li><a href="/player/next">Next track</a></li>
		<li><a href="/player/previous">Previous Track</a></li>
		<li><a href="/player/shuffle">Shuffle</a></li>
	</ul>
</body>
{{end}}
