{{define "player"}}
{{template "Header"}}
<body>
	{{if .NowPlaying}}{{.NowPlaying}}{{end}}
	<ul>
		<li><a href="/action/play">Play</a></li>
		<li><a href="/action/pause">Pause</a></li>
		<li><a href="/action/next">Next track</a></li>
		<li><a href="/action/previous">Previous Track</a></li>
		<li><a href="/action/shuffle">Shuffle</a></li>
	</ul>
</body>
{{end}}
