{{define "Header"}}
<html lang="en">
<head>
	<meta charset="utf8">
	<title>wejay{{if .}} | {{.}}{{end}}</title>

	<link rel="shortcut icon" href="/static/favicon.png" />
	<link rel="apple-touch-icon" href="/static/favicon.png" />
	<link rel="image_src" href="/static/favicon.png" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>
{{end}}
