{{define "Info"}}
<div>
  <p>
Your user is now controlled by WEJAY. A special playlist named wejay will be <br/>
created on your account, and as long as you have the spotify app running, this <br/>
will be the playlist that is active.
  </p>
  <p>
If you want to pause, just <i>pause</i>! Shuffle and repeat will actively be unselected.
  </p>
  <p>
When you want to quit, just sign out! The agent will be active for 8 hours, then<br/>
you need to sign in again to continue.
  </p>
</div>
{{end}}
