{{define "profile"}}
{{template "Header"}}
<body>
	<h1>Welcome!</h1>

	{{template "Info"}}

	<form action="/room" method="GET">
		<label for="name">
			Room name
			<input id="name" name="name"/>
		</label>
		<button type="submit">enter</button>
	</form>

	<a href="/sign-out">sign out</a>
</body>
{{end}}
